<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<div>
    <p th:text="${oldWebsite}">默认信息</p>
</div>
<!--<p style="padding: 10px 15px; margin-bottom: 20px; margin-top: 10px; border:1px solid #ddd;display:inline-block;">-->
<!--oj网站后台-->
        <!--<span style="padding-left:1em;" >用户帐号：<p th:value="${user}"></p></span>-->
        <!--<span style="padding-left:1em;">用户密码：<p th:value="${user}"></p></span>-->
        <!--<span style="padding-left:1em;">角色：<p th:value="${user}"></p></span>-->
    <!--<span style="padding-left:1em;">网址：<p th:value="${oldWebsite}"></p></span>-->
    <!--<input type="text" class="form-control1" id="name" name="name" th:value="${oldWebsite}">-->
    <!--<p>Today is: <span th:text="#{oldWebsite}"></span></p>-->
    <!--<p>Today is: <span th:text="#{user}"></span></p>-->

</body>
</html>