<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>添加用户界面</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/layui.css}"  media="all" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/register_login.css}" />
	<script type="text/javascript" th:src="@{/js/jquery.js}" charset="utf-8"></script>
	<script type="text/javascript" th:src="@{/layui.js}" charset="utf-8"></script>
	<script type="text/javascript" th:src="@{/js/AddUserInfo.js}" charset="utf-8"></script>
</head>
<body>
<div class=" login layui-anim layui-anim-up">
	<form class="layui-form" >
		<div class="layui-form-item">
			<center><i class="layui-icon layui-icon-rate" style="font-size: 30px; color: #FF5722;">添加用户界面</i></center>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><i class="layui-icon layui-icon-username" style="font-size: 20px; color: #FF5722;"></i></label>
			<div class="layui-input-block">
				<input type="text" name="username" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><i class="layui-icon layui-icon-friends" style="font-size: 20px; color: #FF5722;"></i></label>
			<div class="layui-input-block">
				<input type="text" name="nickname" required  lay-verify="required" placeholder="请输入昵称" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><i class="layui-icon layui-icon-group" style="font-size: 20px; color: #FF5722;"></i></label>
			<div class="layui-input-block">
				<input type="text" name="school" required  lay-verify="" placeholder="请输入学校（可不填）" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><i class="layui-icon layui-icon-password" style="font-size: 20px; color: #FF5722;"></i></label>
			<div class="layui-input-inline">
				<input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
			</div>
			<div class="layui-form-mid layui-word-aux"><span style="color: #FF5722;">请输入6~20位密码</span></div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><i class="layui-icon layui-icon-password" style="font-size: 20px; color: #FF5722;"></i></label>
			<div class="layui-input-inline">
				<input type="password" name="confirmpw" required lay-verify="required" placeholder="请再次输入密码" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><i class="layui-icon layui-icon-flag" style="font-size: 20px; color: #FF5722;"></i></label>
			<div class="layui-input-inline">
				<input type="text" name="email" required lay-verify="required" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
			</div>
			<div class="layui-form-mid layui-word-aux"><span style="color: #FF5722;">请输入正确的邮箱格式</span></div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><i class="layui-icon layui-icon-radio" style="font-size: 20px; color: #FF5722;"></i></label>
			<div class="layui-input-block">
				<input type="radio" name="sex" value="1" title="男">
				<input type="radio" name="sex" value="0" title="女" checked>
			</div>
		</div>
		<div class="layui-form-item layui-form-text">
			<label class="layui-form-label"><i class="layui-icon layui-icon-note" style="font-size: 20px; color: #FF5722;"></i></label>
			<div class="layui-input-block">
				<textarea name="introduce" placeholder="请输入自我介绍" class="layui-textarea"></textarea>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit lay-filter="addUser">添加</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</div>
	</form>
</div>
</body>
</html>